<template>
  <div id="app">
  </div>

</template>

<script>
import { SimpleModel } from './SimpleModel'


export default {
  name: 'app',
  components: {
  },
  data: function () {
    return {
      app: null,
    }
  },
  methods: {
  },
  mounted: function() {

    let model = new SimpleModel()
    let point = [1.0, 1.0]
    let params = [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]
    let p = model.forward(point, params)

    let inputPoints, targetPoints

    inputPoints = [[100.0, 100.0], [100.0, 700.0], [700.0, 100.0], [700.0, 700.0]]
    targetPoints = [[100.0, 100.0], [100.0, 700.0], [700.0, 100.0], [700.0, 700.0]]

    let score, popt
    [score, popt] = model.fit(inputPoints, targetPoints)

    let cost = model.costFunc(popt, inputPoints, targetPoints)

    console.log('cost: ' + cost)
    console.log('score: ' + score)
    console.log('popt: ' + popt)

  },
  watch: {
  }
}


</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}
</style>
