<template>
  <div id="app">
    <span> <strong> Connect to server:</strong> {{showConnectStatus()}} </span>
    <div> Result: {{resultStatus}}</div>

    <div class="container">

      <div class="row">
        <div class="col">
          <span> P1: {{params.p1.value}} </span>
          <SlideBar v-bind:target="params.p1" eventName="set-p1-value"
            @set-p1-value="params.p1.value=$event" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span> P2: {{params.p2.value}} </span>
          <SlideBar v-bind:target="params.p2" eventName="set-p2-value"
            @set-p2-value="params.p2.value=$event" />
        </div>
      </div>
    </div>

    <div>
      Message: {{message}}
    </div>
    <div>
      <b-button variant="outline-primary" type="button" name="button"  @click="applyParams()" >
        Apply
      </b-button>
      <b-button variant="outline-primary" type="button" name="button"  @click="saveParams()" >
        Save
      </b-button>
    </div>

  </div>

</template>

<script>
import SlideBar from './components/SlideBar'
import SelectAttribute from './components/SelectAttribute'
import SketchPad from './components/SketchPad'
import { DataCenter } from './DataCenter'
import { finalizeBeforeClosingTab, disablePinZoom } from './CommonUtils'

export default {
  name: 'app',
  components: {
    SlideBar
  },
  data: function () {
    return {
      wsUri: "ws://127.0.0.1:8050/ws", // localhost
      //wsUri: "ws://192.168.43.10:8050/ws",
      dataCenter: null,
      connected: false, // Connection status
      resultStatus: null, // Result status
      params: {
        p1: {value: 10, min: 0, max: 100},
        p2: {value: 10, min: 0, max: 100},
      },
      message: "",
      width: 0,
      color: 0,
      type: 0,
    }
  },
  methods: {
    applyParams() {
      this.message = "Apply parameters."
    },
    saveParams() {
      this.message = "Save parameters."
    },
    showConnectStatus() {
      var msg = ""

      if (this.dataCenter != null && this.dataCenter.connected) {
        msg = "Connected."
      } else {
        msg = "Unconnected."
      }
      return msg
    },
    setDataCenter() {
      this.dataCenter = new DataCenter(this.wsUri);
      this.dataCenter.connect();

      this.dataCenter.setUpdateAttributeHandler(this.updateAttribute)
      this.dataCenter.setUpdateResultStatusHandler(this.updateResultStatus)
    },
    requestPenInfo() {
      this.dataCenter.requestPenWidth()
      this.dataCenter.requestPenColor()
      this.dataCenter.requestPenType()
    },
    updateAttribute(target, val) {

      switch (target) {
        case "width":
          this.width = val
          break
        case "color":
          this.color = val
          break
        case "type":
          this.type = val
          break
      }

    },
    updateResultStatus(status) {
      this.resultStatus = status
    }
  },
  mounted: function() {
    // Disable pin-zoom
    disablePinZoom();
    // Finalize before closing the browser tab.
    //finalizeBeforeClosingTab(this.dataCenter);

    // Data Center
    this.setDataCenter()
  },
  watch: {
    width: function(val) {
      this.dataCenter.setPenWidth(val)
    },
    color: function(val) {
      this.dataCenter.setPenColor(val)
    },
    type: function(val) {
      this.dataCenter.setPenType(val)
    }

  }

}


</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}
</style>
