<template>

<div>
  <canvas id="sketchpad" />
</div>


</template>

<script>

import {getUsiPenColors} from "./UsiPenColors.js"
import {Point} from "../Point"
import {getBezierControl, getQuadraticControl} from "../CanvasPlot"


export default {
  props: ['width', 'color', 'isDrawingMode', 'clearPadFlag'],
  data: function() {
    return {
      canvas: null,
      ctx: null,
      point: null,
      pointTm1: null, // Point at t-1 timestep
      pointTm2: null, // Point at t-2 timestep
      pointTm3: null, // Point at t-3 timestep
    }
  },
  methods: {
    setCanvas() {
      let canvas = document.getElementById('sketchpad')
      canvas.width  = window.innerWidth
      canvas.height  = window.innerHeight +65
      let ctx =  canvas.getContext('2d')
      ctx.lineCap = "round"
      ctx.lineJoin = "round"
      ctx.imageSmoothingEnabled = true
      //ctx.translate(0.5, 0.5)

      this.canvas = canvas
      this.ctx = ctx
    },
    getCanvasMousePosition(clientX, clientY){
      let canvasPosition = this.ctx.canvas.getBoundingClientRect()
      let x = clientX-canvasPosition.x
      let y = clientY-canvasPosition.y
      let point = new Point(x, y)

      return point
    },
    plotQuadraticPath(pointStart, c, pointEnd) {
      let ctx = this.ctx
      ctx.beginPath();
      ctx.moveTo(pointStart.x, pointStart.y);
      ctx.quadraticCurveTo(c.x, c.y, pointEnd.x, pointEnd.y);
      ctx.stroke();
    },
    plotBezierPath(pointStart, c1, c2, pointEnd) {
      let ctx = this.ctx
      ctx.beginPath();
      ctx.moveTo(pointStart.x, pointStart.y);
      ctx.bezierCurveTo(c1.x, c1.y, c2.x, c2.y, pointEnd.x, pointEnd.y);
      ctx.stroke();
    },
    plotLine(x0, y0, x1, y1) {
      let ctx = this.ctx
      ctx.beginPath()
      ctx.moveTo(x0, y0)
      ctx.lineTo(x1, y1)
      ctx.stroke()
    },
    draw(event) {
      if (this.isDrawingMode == false)
        return
      const id = event.pointerId;
      // Current point
      const point = this.getCanvasMousePosition(event.clientX, event.clientY)
      this.point = point

      // Plot a line
      this.ctx.lineWidth = this.width; // Line width
      this.ctx.strokeStyle = this.getColorValue()

      let c
      c = getQuadraticControl(this.pointTm2, this.pointTm1)
      let c1, c2
      [c1, c2] = getBezierControl(this.pointTm3, this.pointTm2, this.pointTm1, this.point)

      this.plotBezierPath(this.pointTm2, c1, c2, this.pointTm1)
      //this.plotQuadraticPath(this.pointTm2, c, this.pointTm1)
      //this.plotLine(this.pointTm2.x, this.pointTm2.y, this.pointTm1.x, this.pointTm1.y)

      // Update the old points
      this.pointTm3 = this.pointTm2
      this.pointTm2 = this.pointTm1
      this.pointTm1 = this.point

    },
    pointerDownHandler(event) {
      event.preventDefault();

      const point = this.getCanvasMousePosition(event.clientX, event.clientY)
      this.pointTm3 = point
      this.pointTm2 = point
      this.pointTm1 = point
      this.point = point

      this.canvas.addEventListener("pointermove", this.draw, false)


      return false;
    },
    pointerUpHandler(event) {
      var id = event.pointerId;

      this.canvas.removeEventListener("pointermove", this.draw, false);

      return false;
    },
    setEventListeners() {
      this.canvas.addEventListener("pointerdown", this.pointerDownHandler, false);
      this.canvas.addEventListener("pointerup", this.pointerUpHandler, false);

    },
    clearPad() {
      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
    },
    getColorValue() {
        //var colors = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Purple', 'Gold', 'Salmon', 'Pink', 'Grey']
        var colors = getUsiPenColors()
        var value = "#000000" // Black
        const i = this.color
        if (i < colors.length) { value = colors[i] }
        return value
    }
  },

  mounted: function() {
    this.setCanvas()
    this.setEventListeners()
  },

  watch: {
    clearPadFlag: function() {
      this.clearPad()
    }
  }
}

</script>
