<template>
<div>
  <VueSlideBar v-model="value" :min="min" :max="max" />
  <b-button variant="outline-primary" type="button" name="button" size="" @click="value -= 1">
    -
  </b-button>
  <b-button variant="outline-primary" type="button" name="button" size="" @click="value += 1">
    +
  </b-button>
</div>
</template>

<script>
import VueSlideBar from 'vue-slide-bar'

export default {
  components: {
    VueSlideBar
  },
  props: ['target', 'eventName'],
  data () {
    return {
      value: this.target.value,
      min: this.target.min,
      max: this.target.max,
    }
  },
  mounted: function() {
  },
  watch: {
    value: function (val) {
      this.$emit(this.eventName, val)
    }
  },

}
</script>
