<template>
  <div id="app" fluid>
    <span> <strong> Connect to server:</strong> {{showConnectStatus()}} </span>

    <v-container fluid>
      <b-row align-v="center" style="border-width:1px;border-style:dashed;border-color:#aEaEaE;padding:1px;">
        <b-col cols="3">
         <img src="sis.jpg" width=80>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
         <img src="usi.png" width=180>
        </b-col>
        <b-col cols="3">
          <strong> Width {{width}} </strong>
          <b-form-input type="range"  v-model="width" eventName='set-width' @set-width="width=$event" min="1" max="255"></b-form-input>
        </b-col>
        <b-col cols="3">
          <strong> Color  {{color}} </strong>
          <b-form-input type="range"  v-model="color" eventName='set-color' @set-width="width=$event" min="1" max="255"></b-form-input>
        </b-col>
        <b-col cols="2">
          <strong> Type  {{type}} </strong>
          <b-form-input type="range"  v-model="type" eventName='set-type' @set-width="width=$event" min="1" max="5"></b-form-input>
        </b-col>
        <b-col cols="1">
          <b-button variant="outline-primary" @click="clearPad" @pointerover="clearPad" size="sm"> Clear </b-button>
        </b-col>
      </b-row>
    </v-container>


    <SketchPad :width="width" :color="color" :isDrawingMode="isDrawingMode" :clearPadFlag="clearPadFlag"/>

  </div>

</template>

<script>
import SketchPad from './components/SketchPad'
import { DataCenter } from './DataCenter'
import { finalizeBeforeClosingTab, disablePinZoom } from './CommonUtils'

export default {
  name: 'app',
  components: {
    SketchPad
  },
  data: function () {
    return {
      app: null,
      wsUri: "ws://127.0.0.1:8050/ws", // localhost
      //wsUri: "ws://192.168.43.10:8050/ws",
      dataCenter: null,
      connected: false, // Connection status
      resultStatus: null, // Result status
      width: 0,
      color: 0,
      type: 0,
      clearPadFlag:0,
      isDrawingMode: false
      //isDrawingMode: true
    }
  },
  methods: {
    showConnectStatus() {
      var msg = ""

      if (this.dataCenter != null && this.dataCenter.connected) {
        msg = "Connected."
      } else {
        msg = "Unconnected."
      }
      return msg
    },
    setDataCenter() {
      this.dataCenter = new DataCenter(this.wsUri);
      this.dataCenter.connect();

      this.dataCenter.setUpdateAttributeHandler(this.updateAttribute)
      this.dataCenter.setUpdateResultStatusHandler(this.updateResultStatus)
    },
    disableCanvas() {
      //this.isDrawingMode = true
      this.isDrawingMode = false
    },
    clearPad() {
      this.clearPadFlag++
    },
    requestPenInfo(evt) {
      console.log(evt.clientY)
      if (evt.clientY > 120){
        this.dataCenter.requestPenInfo()
      }else{
        this.dataCenter.disableTypeAPI = 0
        this.dataCenter.disableWidthAPI = 0
        this.dataCenter.disableColorAPI = 0
        }
    },
    updateAttribute(target, val) {

      switch (target) {
        case "width":
          this.width = val
          break
        case "color":
          this.color = val
          break
        case "type":
          this.type = val
          break
        case "info":
          var list = JSON.parse(val)
          this.width = parseInt(list[0])
          this.color = parseInt(list[1])
          this.type = parseInt(list[2])
          this.isDrawingMode = true
          break
      }

    },
    updateResultStatus(status) {
      this.resultStatus = status
    },
  },
  mounted: function() {
    // Data Center
    this.setDataCenter()
    // Disable pin-zoom
    disablePinZoom();
    // Finalize before closing the browser tab.
    finalizeBeforeClosingTab(this.dataCenter);

    // Request attributes when
    this.app = document.getElementById('app')
    //this.app.addEventListener("pointerover", this.requestPenInfo, false)
    this.app.addEventListener("pointerdown", this.requestPenInfo, false)
    this.app.addEventListener("pointerup", this.disableCanvas, false)

  },
  watch: {
    width: function(val) {
      this.dataCenter.setPenWidth(parseInt(val))
    },
    color: function(val) {
      this.dataCenter.setPenColor(parseInt(val))
    },
    type: function(val) {
      this.dataCenter.setPenType(parseInt(val))
    },
  }
}


</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}
</style>
