<template>

<div>
  <canvas id="sketchpad" />
</div>


</template>

<script>

import {getUsiPenColors} from "./UsiPenColors.js"

export default {
  props: ['width', 'color', 'isDrawingMode', 'clearPadFlag'],
  data: function() {
    return {
      canvas: null,
      ctx: null,
      point: null,
      lastPoint: null,
    }
  },
  methods: {
    setCanvas() {
      let canvas = document.getElementById('sketchpad')
      canvas.width  = window.innerWidth
      canvas.height  = window.innerHeight
      let ctx =  canvas.getContext('2d')
      ctx.lineCap = "round"
      ctx.lineJoin = "round"

      this.canvas = canvas
      this.ctx = ctx
    },
    getCanvasMousePosition(clientX, clientY){
      let canvasPosition = this.ctx.canvas.getBoundingClientRect()
      let x = clientX-canvasPosition.x
      let y = clientY-canvasPosition.y

      return {x: x, y: y}
    },
    plotLine(ctx, x0, y0, x1, y1) {
      ctx.beginPath()
      ctx.moveTo(x0, y0)
      ctx.lineTo(x1, y1)
      ctx.stroke()
    },
    plotPoint(ctx, x, y, radius) {
      ctx.lineWidth = 2*radius // This produces a solid point
      this.plotCircle(ctx, x, y, radius)
    },
    plotCircle(ctx, x, y, radius) {
      ctx.beginPath()
      ctx.arc(x, y, radius, 0, 2*Math.PI)
      ctx.stroke()
    },
    draw(event) {
      if (this.isDrawingMode == false)
        return
      const id = event.pointerId;
      // Current point
      const point = this.getCanvasMousePosition(event.clientX, event.clientY)
      this.point = point

      // Plot a line
      this.ctx.lineWidth = this.width; // Line width
      this.ctx.strokeStyle = this.getColorValue()

      if (this.lastPoint) {
        this.plotLine(this.ctx, this.lastPoint.x, this.lastPoint.y, this.point.x, this.point.y);
      }

      this.lastPoint = this.point

    },
    pointerDownHandler(event) {
      event.preventDefault();

      const point = this.getCanvasMousePosition(event.clientX, event.clientY)
      this.lastPoint = point
      this.point = point

      this.canvas.addEventListener("pointermove", this.draw, false)


      return false;
    },
    pointerUpHandler(event) {
      var id = event.pointerId;

      this.lastPoint = null

      this.canvas.removeEventListener("pointermove", this.draw, false);

      return false;
    },
    setEventListeners() {
      this.canvas.addEventListener("pointerdown", this.pointerDownHandler, false);
      this.canvas.addEventListener("pointerup", this.pointerUpHandler, false);

    },
    clearPad() {
      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
    },
    getColorValue() {
        //var colors = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Purple', 'Gold', 'Salmon', 'Pink', 'Grey']
        var colors = getUsiPenColors()
        var value = "#000000" // Black
        const i = this.color
        if (i < colors.length) { value = colors[i] }
        return value
    }
  },

  mounted: function() {
    this.setCanvas()
    this.setEventListeners()
  },

  watch: {
    clearPadFlag: function() {
      this.clearPad()
    }
  }
}

</script>
