<template>
  <md-card>
    <md-card-actions>
      <div class="md-subhead">
        <span> <strong>My Shop</strong>  </span>
      </div>
    </md-card-actions>
    <md-card-media class="swiper-inner">
      <!-- swiper -->
      <swiper :options="swiperOption">
        <swiper-slide>
          <img src="@/assets/images/ring_1.jpg">
        </swiper-slide>
        <swiper-slide>
          <img src="@/assets/images/ring_2.jpg">
        </swiper-slide>
        <swiper-slide>
          <img src="@/assets/images/ring_3.jpg">
        </swiper-slide>
        <swiper-slide>
          <img src="@/assets/images/ring_4.jpg">
        </swiper-slide>
        <swiper-slide>
          <img src="@/assets/images/ring_5.jpg">
        </swiper-slide>
        <swiper-slide>
          <img src="@/assets/images/ring_6.jpg">
        </swiper-slide>

        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </md-card-media>
  </md-card>
</template>

<script>

import Vue from 'vue'
// require styles
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

//import 'vue-material/dist/vue-material.min.css'
//import 'vue-material/dist/theme/default.css'

//import VueAwesomeSwiper from 'vue-awesome-swiper'
//Vue.use(VueAwesomeSwiper);

//import VueMaterial from 'vue-material'
//import 'vue-material/dist/vue-material.min.css'
//Vue.use(VueMaterial)

export default {
  components: {
    swiper,
    swiperSlide,
  },
  data() {
    return {
      swiperOption: {
        autoplay: {
          disableOnInteraction: false,
          delay: 3000
        },
        speed: 1000, //切換速度，即slider自動滑動開始到結束的時間
        effect: 'cube',
        grabCursor: true,
        cubeEffect: {
          shadow: true,
          slideShadows: true,
          shadowOffset: 20,
          shadowScale: 0.94
        },
        pagination: {
          el: '.swiper-pagination'
        }
      }
    }
  },
  methods: {
  }

}
</script>

<style scoped>
  .swiper-inner {
    position: relative;
    overflow: hidden;
    height: 330px;
    padding: 15px;
  }
  .swiper-container {
    width: 300px!important;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  img {
    width: 100%;
    height: auto;
  }

</style>
