<template>

<div>
  <b-form-select v-model="selected" :options="options"></b-form-select>
</div>

</template>

<script>

function getOptions(n) {
  var options = []
  for (var i = 0; i < n; i++) {
    options.push({value: i, text: i})
  }
  return options
} 

export default {
  props: ['attr', 'eventName'],
  data: function() {
    return {
      selected: 0,
      options: getOptions(256)
    }
  },
  mounted: function() {
  },
  watch: {
    attr: function(val) {
      this.selected = val
    },
    selected: function (val) {
      this.$emit(this.eventName, val)
    } 

  }
}

</script>