<template>
  <div id="app">
    <div v-text="title" style="font-weight:bold"></div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <span>
            <strong>Connect to server:</strong>
            {{showConnectStatus()}}
          </span>
          <div class="form-row">
            <div class="col-1">
              <b-form-input size="sm"
                type="text"
                v-model="comPort"
                name="com_port"
                placeholder="input com port"
              />
            </div>
            <div class="col-3">
              <b-button size="sm" v-on:click="open_func">open CDC</b-button>
              <b-button size="sm" v-on:click="close_func">close CDC</b-button>
            </div>
            <div class="col-2">
            Result: {{resultStatus}}
            </div>
          </div>
          <div class="form-row">
            <div class="col-1">
            vmin
            </div>
            <div class="col-2">
               <b-form-input size="sm" type="text" v-model="vmin" name="vmin" />
            </div>
            <div class="col-1">
            vmax
            </div>
            <div class="col-2">
              <b-form-input size="sm" type="text" v-model="vmax" name="vmax" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div id="chartContainer" style="height: 600px; width: 100%; position: absolute"></div>
      </div>
      <div class="col-4">
        <video id="video" width="480" height="320" autoplay></video>
      </div>
    </div>
  </div>
</template>

<script>
import { DataCenter } from "./DataCenter";
import { finalizeBeforeClosingTab, disablePinZoom } from "./CommonUtils";
import * as CanvasJS from "./plugins/canvasjs.min";
export default {
  name: "app",

  data: function() {
    return {
      title: "Show Spectrum",
      comPort: "",
      dataCounter: 0,
      vmin: 0,
      vmax: 0,
      app: null,
      wsUri: "ws://127.0.0.1:8050/ws", // localhost
      //wsUri: "ws://192.168.43.122:8050/ws",
      dataCenter: null,
      connected: false, // Connection status
      resultStatus: null, // Result status
      chart: null,
      dataArray: [
        {
          type: "scatter",
          name: "point",
          showInLegend: true,
          dataPoints: [{ x: 0, y: 0, markerSize: 4, color:"black"}]
        },
        {
          type: "scatter",
          name: "people",
          showInLegend: true,
          dataPoints: [{ x: 0, y: 0, markerSize: 25, color:"Crimson"}]
        },
        {
          type: "scatter",
          name: "center",
          showInLegend: true,
          dataPoints: [{ x: 0, y: 0, markerSize: 10, color:"Blue"}]
        },
      ],
      arraySize: 10,
    };
  },
  methods: {
    showConnectStatus() {
      var msg = "";

      if (this.dataCenter != null && this.dataCenter.connected) {
        msg = "Connected.";
      } else {
        msg = "Unconnected.";
      }
      return msg;
    },
    setDataCenter() {
      this.dataCenter = new DataCenter(this.wsUri);
      this.dataCenter.connect();

      this.dataCenter.setUpdateAttributeHandler(this.updateAttribute);
      this.dataCenter.setUpdateResultStatusHandler(this.updateResultStatus);
      this.dataCenter.setDataArriveHandler(this.dataArrive);
    },
    open_func: function() {
      this.dataCenter.openMmwaveDevice(this.comPort);
      console.log("open cdc device");
    },
    close_func: function() {
      this.dataCenter.closeMmwaveDevice();
      console.log("close cdc device");
    },
    updateAttribute(value) {},
    updateResultStatus(status) {
      console.log(status)
      this.resultStatus = status;
    },
    dataArrive(data) {
      this.dataCounter++;
      console.log("data: " + JSON.stringify(data));
      this.dataArray[0].dataPoints = data[0];
      //this.dataArray[1].dataPoints = data[1];
      this.dataArray[2].dataPoints = data[2];

      console.log(this.dataArray);
      if (this.chart.data) {

        this.chart.render();
        this.$forceUpdate();
      }
    }
  },
  mounted: function() {
    // Data Center
    this.setDataCenter();
    // Disable pin-zoom
    disablePinZoom();
    // Finalize before closing the browser tab.
    finalizeBeforeClosingTab(this.dataCenter);

    var video = document.getElementById('video');

    // Get access to the camera!
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            //video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
            video.play();
        });
    }

    // Request attributes when
    this.app = document.getElementById("app");
    this.chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: false,
      zoomEnabled: true,
      legend: {
        fontSize: 12
      },
      axisX: {
        labelFontSize: 12,
        titleFontSize: 12,
        viewportMinimum: -8,
        viewportMaximum: 8,
        gridThickness: 1,
        title: "x"
      },
      axisY: {
        labelFontSize: 12,
        viewportMinimum: 0,
        viewportMaximum: 15,
        gridThickness: 1,
        titleFontSize: 12,
        title: "y"
      },
      data: this.dataArray
    });
    this.chart.render();
  },
  watch: {
    vmin: function(val) {
      val = parseInt(val, 10)
      if (val > -1){
        this.chart.options.axisY.minimum = val;
        this.chart.render();
        this.$forceUpdate();
      }
    },
    vmax: function(val) {
      val = parseInt(val, 10)
      if (val > 0){
        this.chart.options.axisY.maximum  = val;
        this.chart.render();
        this.$forceUpdate();
      }
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}
</style>
