<template>
  <div id="app">
    <CubeCarousel />
  </div>

</template>

<script>
import CubeCarousel from './components/CubeCarousel'
import { DataCenter } from './DataCenter'
import { finalizeBeforeClosingTab, disablePinZoom } from './CommonUtils'


export default {
  name: 'app',
  components: {
    CubeCarousel
  },
  data: function () {
    return {
      app: null,
      wsUri: "ws://127.0.0.1:8050/ws", // localhost
      //wsUri: "ws://192.168.43.10:8050/ws",
      dataCenter: null,
      connected: false, // Connection status
      resultStatus: null, // Result status
      width: 0,
      color: 0,
      type: 0,
      clearPadFlag:0,
      isDrawingMode: false
    }
  },
  methods: {
    showConnectStatus() {
      var msg = ""

      if (this.dataCenter != null && this.dataCenter.connected) {
        msg = "Connected."
      } else {
        msg = "Unconnected."
      }
      return msg
    },
    setDataCenter() {
      this.dataCenter = new DataCenter(this.wsUri);
      this.dataCenter.connect();

      this.dataCenter.setUpdateAttributeHandler(this.updateAttribute)
      this.dataCenter.setUpdateResultStatusHandler(this.updateResultStatus)
    },
    disableCanvas() {
      this.isDrawingMode = false
    },
    clearPad() {
      this.clearPadFlag++
    },
    requestPenInfo(evt) {
      console.log(evt.clientY)
      if (evt.clientY > 120){
        this.dataCenter.requestPenInfo()
      }else{
        this.dataCenter.disableTypeAPI = 0
        this.dataCenter.disableWidthAPI = 0
        this.dataCenter.disableColorAPI = 0
        }
    },
    updateAttribute(target, val) {

      switch (target) {
        case "width":
          this.width = val
          break
        case "color":
          this.color = val
          break
        case "type":
          this.type = val
          break
        case "info":
          var list = JSON.parse(val)
          this.width = parseInt(list[0])
          this.color = parseInt(list[1])
          this.type = parseInt(list[2])
          this.isDrawingMode = true
          break
      }

    },
    updateResultStatus(status) {
      this.resultStatus = status
    },
  },
  mounted: function() {
    // Data Center
    //this.setDataCenter()
    // Disable pin-zoom
    disablePinZoom();
    // Finalize before closing the browser tab.
    finalizeBeforeClosingTab(this.dataCenter);

    // Request attributes when
    //this.app = document.getElementById('app')
    //this.app.addEventListener("pointerover", this.requestPenInfo, false)
    //this.app.addEventListener("pointerdown", this.requestPenInfo, false)
    //this.app.addEventListener("pointerup", this.disableCanvas, false)

  },
  watch: {
    width: function(val) {
      this.dataCenter.setPenWidth(parseInt(val))
    },
    color: function(val) {
      this.dataCenter.setPenColor(parseInt(val))
    },
    type: function(val) {
      this.dataCenter.setPenType(parseInt(val))
    },
  }
}


</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}
</style>
